<div class="w-64 h-screen bg-[#0B1F3A] text-white flex flex-col p-4">

  <!-- LOGO -->
  <div class="flex items-center gap-3 mb-10">
    <img
      src="assets/Logo.png"
      alt="EquiMatrix Logo"
      class="h-14 object-contain"
    />
  </div>

  <!-- MENU -->
  <nav class="flex flex-col gap-6 text-sm">

    <!-- DASHBOARD -->
    <a
      routerLink="/admin"
      routerLinkActive="text-[#22C55E]"
      [routerLinkActiveOptions]="{ exact: true }"
      #rlaDashboard="routerLinkActive"
      class="flex items-center justify-between group"
    >
      <span class="text-slate-300 group-hover:text-[#14B8A6]">
        Dashboard
      </span>

      <span
        *ngIf="rlaDashboard.isActive"
        class="w-1 h-5 bg-[#22C55E] rounded"
      ></span>
    </a>

    <!-- EMPLOYEES -->
    <a
      routerLink="/admin/employees"
      routerLinkActive="text-[#22C55E]"
      #rlaUsers="routerLinkActive"
      class="flex items-center justify-between group"
    >
      <span class="text-slate-300 group-hover:text-[#14B8A6]">
        Employees
      </span>

      <span
        *ngIf="rlaUsers.isActive"
        class="w-1 h-5 bg-[#22C55E] rounded"
      ></span>
    </a>

    <!-- AWARDS -->
    <a
      routerLink="/admin/awards"
      routerLinkActive="text-[#22C55E]"
      #rlaAwards="routerLinkActive"
      class="flex items-center justify-between group"
    >
      <span class="text-slate-300 group-hover:text-[#14B8A6]">
        Awards
      </span>

      <span
        *ngIf="rlaAwards.isActive"
        class="w-1 h-5 bg-[#22C55E] rounded"
      ></span>
    </a>

    <!-- EXERCISE -->
    <a
      routerLink="/admin/exercise"
      routerLinkActive="text-[#22C55E]"
      #rlaExercise="routerLinkActive"
      class="flex items-center justify-between group"
    >
      <span class="text-slate-300 group-hover:text-[#14B8A6]">
        Exercise Requests
      </span>

      <span
        *ngIf="rlaExercise.isActive"
        class="w-1 h-5 bg-[#22C55E] rounded"
      ></span>
    </a>

    <!-- REPORTS -->
    <a
      routerLink="/admin/reports"
      routerLinkActive="text-[#22C55E]"
      #rlaReports="routerLinkActive"
      class="flex items-center justify-between group"
    >
      <span class="text-slate-300 group-hover:text-[#14B8A6]">
        Reports
      </span>

      <span
        *ngIf="rlaReports.isActive"
        class="w-1 h-5 bg-[#22C55E] rounded"
      ></span>
    </a>

    <!-- NOTIFICATIONS -->
    <a
      routerLink="/admin/notifications"
      routerLinkActive="text-[#22C55E]"
      #rlaNotif="routerLinkActive"
      class="flex items-center justify-between group"
    >
      <span class="text-slate-300 group-hover:text-[#14B8A6]">
        Notifications
      </span>

      <span
        *ngIf="rlaNotif.isActive"
        class="w-1 h-5 bg-[#22C55E] rounded"
      ></span>
    </a>

  </nav>

</div>