<div class="p-6 bg-gray-100 min-h-screen text-gray-800">

  <!-- HEADER -->
  <div class="flex justify-between items-center mb-6">
    <div class="mb-4 -mt-6">
    <h1 class="text-3xl font-bold mb-2 text-slate-800">
     Manage employee share exercise requests
    </h1>
    </div>
  </div>

  <!-- SEARCH -->
  <div class="flex items-center gap-4 mb-8">
    <input
    type="text"
    [(ngModel)]="searchText"
    placeholder="Search by Employee ID "
    class="w-[400px] px-4 py-2 rounded-lg border border-slate-300 bg-white focus:outline-none focus:ring-2 focus:ring-green-400"
    (input)="onSearch()"
  />

    <button 
      (click)="onSearch()"
      class="bg-blue-600 text-white px-8 py-3 rounded-full font-semibold hover:bg-blue-700 transition"
    >
      Search
    </button>
  </div>

  <!-- TABLE CARD -->
  <div class="bg-white text-gray-800 p-6 rounded-lg shadow-sm border border-gray-200">

    <h2 class="text-xl font-semibold mb-4 text-gray-900">
      Existing Exercise Requests
    </h2>

    <table class="w-full border-collapse">

      <!-- HEAD (LIGHT THEME) -->
      <thead class="bg-gray-100 text-gray-700 border-b">
        <tr>
          <th class="p-3 text-left font-semibold">Request Id</th>
          <th class="p-3 text-left font-semibold">Employee Id</th>
          <th class="p-3 text-left font-semibold">Employee Name</th>
          <th class="p-3 text-left font-semibold">No Of Shares</th>
          <th class="p-3 text-center font-semibold">Action</th>
        </tr>
      </thead>

      <!-- BODY -->
      <tbody>
        <tr
          *ngFor="let request of filteredRequests"
          class="border-b hover:bg-gray-50 transition"
        >
          <td class="p-3">{{ request.requestId }}</td>
          <td class="p-3">{{ request.employeeId }}</td>
          <td class="p-3">{{ request.employeeName }}</td>
          <td class="p-3 ">{{ request.shares }}</td>

          <td class="p-3 flex justify-center gap-2">
            <button 
              (click)="onAccept(request)"
              [disabled]="request.status !== 'pending'"
              class="bg-green-600 text-white px-4 py-2 rounded font-semibold
                     hover:bg-green-700 disabled:opacity-50 transition"
            >
              Accept
            </button>

            <button 
              (click)="onReject(request)"
              [disabled]="request.status !== 'pending'"
              class="bg-red-600 text-white px-4 py-2 rounded font-semibold
                     hover:bg-red-700 disabled:opacity-50 transition"
            >
              Reject
            </button>
          </td>
        </tr>
      </tbody>

    </table>

  </div>

</div>